:root{
    --main-color: rgb(254, 239, 217);
    --sec-color: rgb(79, 70, 59);
    --lat-color: rgb(197, 188, 175);
    --hover-color: rgb(157, 147, 137);
}

*{
    margin: 0;
    padding: 0;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1, h2 {
    font-weight: 600;
    color: var(--sec-color);
}

body{
    background-color:var(--main-color);
    color: var(--sec-color)
}

.container{
    display: grid;
    grid-template-columns: 20% 80%;
    height: 100vh;
}

.c1-lateral{
    background-color:var(--lat-color);
    height: 100%;
    gap: 15px;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.c1-welcome{
    margin-top: 2em ;
    text-align: center;
}

.c1-add-tasks{
    width: 15em;
    color:var(--sec-color);
    border-radius: 6px;
    border: solid 2px var(--hover-color);
    padding: 0.5em;
    display: block;
    margin-top: 2em;
    text-decoration: none;
}

.c1-search-tasks , .c1-done-tasks , .c1-view-calendar{
    width: 15em;
    color:var(--sec-color);
    border-radius: 6px;
    border: solid 2px var(--hover-color);
    padding: 0.5em;
    display: block;
    margin-top: 0.1em;
    text-decoration: none;
    
}

.c1-credit{
    padding-top: 25em ;
    align-items: end;
}

.c1-lateral-content{
    display: block;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}
.c1-caixa{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.c1-titulo{
    font-size: 3em;
    text-align: center;
    margin-top: 1.5em;
}

.c1c-add-tasks{
    color: var(--sec-color);
    border: solid 2px var(--hover-color);
    border-radius: 6px;
    padding: 0.5em;
    display: block;
    text-decoration: none;
    text-align: left;
    margin: 0 15em 0 15em;
}

.c1-margin-input-from-text{
    margin-right: 1em;
}

:hover.c1-add-tasks, :hover.c1-search-tasks, :hover.c1-done-tasks, :hover.c1-view-calendar{
    background-color: var(--hover-color);
    transition: 1s;
}

.c1-theme{
    text-align: right;
    padding: 40px;
}

.c1-theme-bot{
    border: solid 2px var(--sec-color);
    border-radius: 10px;
    padding: 5px;
    text-decoration: none;
    color:var(--sec-color)

}

.c1-caixa-inferior{
    margin: 0em 3em 0em 3em;
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;

}

.newTasks{
    display: flex;
    flex-direction: column;;
    margin: 0 2.6em 0 2.6em;
}

.teste{
    display: flex;
    margin: 0 12em 0 12em;
    border: 1px rgb(0, 0, 0) solid;
    padding: 10px;
    border-radius: 10px;
    background-color:rgb(230, 215, 197);
    justify-content: space-between;
}

.tarefaConcluida {
text-decoration-line: line-through;
}

.taskBTN {
    display: flex;
    gap: 6px;;
}

.taskBTN button{
    border-radius: 90000%;
    padding: 3px 6px 3px 6px;
    cursor: pointer;
    
}

:hover.buttonRemove{
    background-color: var(--hover-color);
}

:hover.buttonDone{
    background-color: var(--hover-color);
}

.buttonDonePress{
    background-color: var(--hover-color);
}
/*////////////////////////////////////////////////////////////////////*/